{% extends 'main.html'%}
{% load staticfiles %}
{% block head %}

<style>
    .start_button {
        margin-left:auto;
        margin-right: auto;
        margin-top: -30px;
        width: 120px;
        border: 4px solid grey;
        padding: 20px;
        font-size:20px;
        text-align: center;
        font-family: Arial;
        color: grey;
        cursor: pointer;
    }

    .start_button:hover {
        color: #333333;
        border: 4px solid #333333;
    }
</style>

<script>
    $(document).ready(function() {
        $('.start_button').click(function() {
            window.location.href="/game/"
        });
    });
</script>

{% endblock %}

{% block content %}
<div style="margin-top: 20vh;">
    <div style="height:200px; display: block; margin:auto; width:300px; margin-bottom:100px;">
        <img src="{% static 'img/wizard_hat.svg' %}" style="width:100px; margin-left:100px; margin-right:100px;">
        <p style="text-align: center; font-family: Arial; margin:10px; font-size: 80px; color:#666;">Wizard</p>
    </div>
    <div class="start_button">
        Start
    </div>
</div>
{% endblock %}